- name: update repo cache
  apt:
    update_cache: yes
  changed_when: false
  when: ansible_os_family in ["Debian"]

- name: install command line packages
  package:
    name:
      - git
      - htop
      - zsh
      - vim
      - tmux
      - tldr
      - pwgen
      - curl
      - wget
      - neofetch
